<div class="panel panel-default">
    <div class="panel-heading">Panel Heading</div>
    <div class="panel-body">
        <p>Name      <span id="name"></span></p>
        <p>Year      <span id="year"></span></p>
        <p>Price     <span id="price"></span></p>
        <p>Brand     <span id="brand"></span></p>
        <p>Category <span id="category"></span></p>


    </div>

</div>