
<div class="panel panel-default">
    <div class="panel-heading" ></div>
    <div class="panel-body">
        <b> <p>Name   </b><span id="name"> </span> </p>
        <b> <p>Year  </b>    <span id="year"></span></p>
        <b> <p>Price    </b> <span id="price"></span></p>
        <b><p>Brand   </b>  <span id="brand"></span></p>
      <b><p>Category</b> <span id="category"></span></p>
       
        <hr/>
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Store</th>
                    <th scope="col">Quantity</th>

                </tr>
            </thead>
            <tbody id="stores">
            </tbody>
        </table>
    </div>

</div>
